{% extends 'hda_public/base.html' %}
{%block title%}Counties{%endblock%}
{% block content %}
	<div id="container">
        <a href="/state"> << View all states </a> <h3>{{ state}} </h3>
	<table class="table table-hover">
		<thead>
			<tr>
            <th scope ="col">Fips Code</th>
			<th scope="col">Name</th>
			</tr>
		</thead>
        <tbody>
        {% for county in counties %}
				<tr>
                    <td>{{ county.fips }}</td>
                    <td><a href="/state/{{ state_short_name }}/{{ county.fips }}?choice=county">{{ county.name }}</a></td>
                </tr>
        {% endfor %}
        </tbody>
        </table>

        <ul class="pagination center-align">
        {% if page_obj.has_previous %}
            <li class="">
                <a href="/state/{{ state_short_name }}?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% for i in range %}
            <li class=" {% if page_obj.number == forloop.count %}activate{% endif %}">
                <a href="/state/{{ state_short_name }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="">
                <a href="/state/{{ state_short_name }}?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
    </div>
{% endblock %}
