{% extends 'hda_public/base.html' %}
{%block title%}Health Indicators{%endblock%}
{% block content %}
	<div id="container">
	<table class="table table-hover">
    <h3> Select a State: </h3>
		<thead>
			<tr>
			<th scope="col">Abbreviation</th>
			<th scope="col">Name</th>
			</tr>
		</thead>
        <tbody>
        {% for state in states %}
				<tr>
                    <!-- Did user click county or state button on dashboard -->
                {% if 'choice=county' in request.GET.urlencode %}
                    <td><a href="{% url 'county' state.short %}?choice=county">{{ state.short }}</a> </td>
                    <td><a href="{% url 'county' state.short %}?choice=county">{{ state.full }}</a> </td>
                {% else %}
                    <td><a href="{% url 'selection_state_metric' state.short %}?choice=state">{{ state.short }}</a> </td>
                    <td><a href="{% url 'selection_state_metric' state.short %}?choice=state">{{ state.full }}</a> </td>
                {% endif %}
                </tr>
        {% endfor %}
        </tbody>
        </table>


        <ul class="pagination center-align">
        {% if page_obj.has_previous %}
            <li class="">
                <a href="/state/?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% for i in range %}
            <li class=" {% if page_obj.number == forloop.count %}activate{% endif %}">
                <a href="/state/?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="">
                <a href="/state/?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
    </div>
{% endblock %}