{% extends 'hda_privileged/base.html' %}

{% block content %}

{% comment %} Wrap the form in a panel for appearance {% endcomment %}
<div class='panel panel-primary'>

  <div class="panel-heading" style="background-color:#69899f;color: #d7e2e9;">
    <h3 class="panel-title">Delete a health indicator</h3>
  </div>

  <div class="panel-body">
    <h4>Deleting a health indicator will permanently remove the indicator from data storage.</h4>
    <form method="post" class='form-inline'>{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>

    <br/>
        <br/>    
        <button type="submit" class="btn btn-success" style="background-color:#69899f;color: #d7e2e9;">Confirm Delete</button>
        <input class='btn btn-primary' type="button"  style="background-color:#69899f;color: #d7e2e9;" value='Cancel' onclick="window.history.back()"/>
    </form>
  </div>
</div>  
{% endblock %}